<h1>Students List</h1>
<div>
    <div *ngIf="loading">
        Loading...
    </div>
    <div *ngIf="error">
        Error :(
    </div>
    <table *ngIf="students" style="border: 1px solid">
        <thead>
            <tr>
                <th style="border: 1px solid">Student Id</th>
                <th style="border: 1px solid">Student Name</th>
                <th style="border: 1px solid">Student Age</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{ student.student_id}}</td>
                <td>{{ student.student_name}}</td>
                <td>{{ student.student_age}}</td>
            </tr>
        </tbody>
    </table>
</div>